table {
    border-spacing: 0;
    width: 100%;
}

.input-wrapper {
    color: rgb(47, 0, 255);
}

td.bold {
    font-weight: 700;
}
.nav-item .active {
    color: rgb(255, 0, 234);
}
img {
    width: 150px;
    height: auto;
    margin: auto;
    border-style: ridge;
    border-width: 5px;
    border-color:rgba(0, 255, 98, 0.274);
}
form * {
    box-sizing: border-box;
    color: lawngreen  ;
}
li.active.double {
    color: greenyellow;
}
p {
    color: blue;
}