* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    max-height: 100vh;
}
.side-wrapper {
    display: block;
    width: 240px;
    height: 100vh;
    background: linear-gradient(rgb(95, 95, 95), rgb(197, 197, 197));
    box-shadow: 0 12px 10px 5px rgba(110, 110, 110, 0.5);
    color: #ffffff;
    line-height: 26px;
    transform: translateX(0%);
}
.open-form {
    position: absolute;
    width: 150px;
    height: 50px;
    background: red;
    border-radius: 15px 15px 0 0;
    top: 23%;
    left: 190px;
    border: none;
    transform: rotate(90deg);
    box-shadow: 0px -4px 3px 0px rgba(255, 0, 0, 0.5);
}
.open-form span {
    display: inline-block;
    inline-size: max-content;
    font-weight: bold;
}
.form-wrapper {
    display: block;
    padding: 20px 27px;
    text-decoration: #ffffff
}
#subscribe {
    display: block;
    margin: 15px 44px;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: none;
    line-height: 40px;
    font-size: 15px;
    font-weight: 650;
    background: green
}
#data-table {
    width: 50%;
    border-collapse: collapse;
}
#data-table thead {
    background: #a39262;
}
#data-table, th, td {
    border: 1px solid;
}