* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    max-height: 100vh;
}
.aside {
    flex-shrink: 0;
    transition: width 0.5s;
}
.formbar {
    position: fixed;
    padding: 4% 3%;
    width: 230px;
    height: 100%;
    display: block;
    background: grey;
    line-height: 40px;
}
.formbar label {
    display: block;
}
.username, .email {
    display: inline-block;
}
.form {
    position: absolute;
    background: red;
    display: block;
    width: 100px;
    height: 45px;
    transform: rotate(90deg);
    font-weight: bold;
    top: 10%;
    right: 457px;
    border: none;
    border-radius: 5px 5px 0px 0px;
}

.username, .email {
    line-height: 20px;
}

table {
    margin: auto;
    display: table;
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid black;
}
#side {
    transform: translateX(-100%);
}