* {
    box-sizing: border-box;
}
.formbar {
    position: absolute;
    padding: 4% 3%;
    width: 230px;
    height: 100%;
    display: block;
    background: grey;
    line-height: 40px;
}
.form:hover  {
    display: block;
}
.form {
    position: absolute;
    background: red;
    display: block;
    width: 100px;
    height: 45px;
    transform: rotate(90deg);
    margin: 0px 0px 0px 178px;
    font-weight: bold;
}

.username, .email {
    line-height: 20px;
}

table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid black;
}